<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/texto.css">
    <title>Ruling of Dwarfs</title>
</head>
<body>

    <nav>
        <ul>
            <li><h1><ion-icon name="home"></ion-icon></h1></li>
            <li><a href="../../index.html">Ruling of Dwarfs</a></li>
            <li><a href="partidas.html">Partidas</a></li>
            <li><a href = "reglas.html">Reglas</a></li>
            <li><a href="config.html">Nueva Partida</a></li>
            <li class="dropdown">
              <a class="dropbtn">Menu</a>
              <div class="dropdown-content">
                <a href="perfil.html">Perfil</a>
                <a href = "about.html">Sobre nosotros</a>
                <a href="login.html">Iniciar Sesión</a>
                <a href="login.html">Registrarse</a>
              </div>
            </li>
          </ul>
    </nav>

    <div class="fondo-reglas">
      <div class="titulo-pagina">
        <h1>Equipo Dwarfs</h1>
      </div>

      <div class="texto-central">
          <p>
            Somos el grupo Webeam y sabemos que una de las formas más divertidas de compartir con la familias y los amigos son los juegos de mesa. Por ello, y puesto que desde la pandemia volvimos a reencontrarnos con todos esos seres queridos que viven más allá de lo manejable, para una tarde de juegos, es que decidimos crear un juego en formato online.
          </p>
          <p>
            Este sigue la misma estructura de los juegos tradicionales, sumado a algunos detalles que lo hacen más fácil. Cómo evitar la preparación de los elementos, o tener que ordenarlos tras acabar. Que nosotros sabemos siempre genera discusiones, por lo que el que siempre pierde no le va a tocar ordenar esta vez. 
          </p>
          <p>
            Los integrantes que hiciero posible poder disfrutar este juego son:
          </p> 
          <p>Tomas Fouyet: Siempre muy apasionado con todo el tema de programación y aprender como funciona el mundo de la computacion. Un real apasionado de los videojuegos (jugando desde los 12, empezando con el Minecraft). Actualmente se encuentra en el majo de Ingeneria de Software, y le gustaria seguir aprendiendo mucho mas acerca de este mundo tan amplio de la computacion</p>
          <p> Lucas Fernandez: Perteneciente al mayor de software, tiene experiencia en otros proyectos tanto dentro como fuera de la universidad. En su tiempo libre le gusta cocinar, jugar tretis, subir cerros y realizar otros deportes.</p>
          <p> Antonia Blanco: Partió la universidad pensando en dedicarse al área química, pero tras el curso introductorio de computación se decidió por el mayor de software. Cuando hay tiempo le gusta realizar deporte, tocar el piano y ver series.</p>
          
      </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>