<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/partidas.css">
    <title>Ruling of Dwarfs</title>
</head>
<body>

    <nav>
      <ul>
          <li><h1><ion-icon name="home"></ion-icon></h1></li>
          <li><a href="../../index.html">Ruling of Dwarfs</a></li>
          <li><a href="partidas.html">Partidas</a></li>
          <li><a href = "reglas.html">Reglas</a></li>
          <li><a href="config.html">Nueva Partida</a></li>
          <li class="dropdown">
            <a class="dropbtn">Menu</a>
            <div class="dropdown-content">
              <a href="perfil.html">Perfil</a>
              <a href = "about.html">Sobre nosotros</a>
              <a href="login.html">Iniciar Sesión</a>
              <a href="login.html">Registrarse</a>
            </div>
          </li>
        </ul>
    </nav>

    </nav>
    <div class="row">
      <div class="row_second">
        <div class="row_inner">
          <div class="tile">
            <div class="column-turno">
              <div class="info-partida">
                <h4>Partida</h4>
                <b>Maximo jugadores</b><p>4</p>
                <b>Conectados</b><p>3</p>
                <a href="juego.html"><input type="button" class="btn" value="Unirse"></a>
              </div>
            </div>
            <div class="column-turno">
              <div class="info-partida">
                <h4>Partida</h4>
                <b>Maximo jugadores</b><p>4</p>
                <b>Conectados</b><p>3</p>
                <a href="juego.html"><input type="button" class="btn" value="Unirse"></a>
              </div>
            </div>
            <div class="column-turno">
              <div class="info-partida">
                <h4>Partida</h4>
                <b>Maximo jugadores</b><p>4</p>
                <b>Conectados</b><p>3</p>
                <a href="juego.html"><input type="button" class="btn" value="Unirse"></a>
              </div>
            </div>
            <div class="column-turno">
              <div class="info-partida">
                <h4>Partida</h4>
                <b>Maximo jugadores</b><p>4</p>
                <b>Conectados</b><p>3</p>
                <a href="juego.html"><input type="button" class="btn" value="Unirse"></a>
              </div>
            </div>
            <div class="column-turno">
              <div class="info-partida">
                <h4>Partida</h4>
                <b>Maximo jugadores</b><p>4</p>
                <b>Conectados</b><p>3</p>
                <a href="juego.html"><input type="button" class="btn" value="Unirse"></a>
              </div>
            </div>
            <div class="column-turno">
              <div class="info-partida">
                <h4>Partida</h4>
                <b>Maximo jugadores</b><p>4</p>
                <b>Conectados</b><p>3</p>
                <a href="juego.html"><input type="button" class="btn" value="Unirse"></a>
              </div>
            </div>
            <div class="column-turno">
              <div class="info-partida">
                <h4>Partida</h4>
                <b>Maximo jugadores</b><p>4</p>
                <b>Conectados</b><p>3</p>
                <a href="juego.html"><input type="button" class="btn" value="Unirse"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>