<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/perfil.css">
    <title>Ruling of Dwarfs</title>
</head>
<body>
  <nav>
    <ul>
        <li><h1><ion-icon name="home"></ion-icon></h1></li>
        <li><a href="../../index.html">Ruling of Dwarfs</a></li>
        <li><a href="partidas.html">Partidas</a></li>
        <li><a href = "reglas.html">Reglas</a></li>
        <li><a href="config.html">Nueva Partida</a></li>
        <li class="dropdown">
          <a class="dropbtn">Menu</a>
          <div class="dropdown-content">
            <a href="perfil.html">Perfil</a>
            <a href = "about.html">Sobre nosotros</a>
            <a href="login.html">Iniciar Sesión</a>
            <a href="login.html">Registrarse</a>
          </div>
        </li>
      </ul>
  </nav>

  <div class="contenedor-perfil">
    <div class="contenedor-izq">
      <div class="nombre">
      <h1>
        LFB1206
      </h1>
    </div>
      <div class="foto"></div>
    </div>
    <div class="contenedor-cent">
      <div class="datos">
        <b>Mail</b><p>lucas.fernndez@uc.cl</p>
        <b><button class="btn" value="Iniciar Sesion">Cambiar mail</button></b><p></p>
        <b>Contraseña</b><p>········</p>
        <b><button class="btn" value="Iniciar Sesion">Cambiar Contraseña</button></b><p></p>
      </div>
    </div>
    <div class="contenedor-der">
      <div class="datos">
        <b>Partidas ganadas</b><p>3</p>
        <b>Partidas jugadas</b><p>15</p>
        <b>Nivel</b><p>10</p>
      </div>
    </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>