@import 'base.css';

.config {
    position: relative;
    left: 8vw;
    top: 10vh;
    width: 75vw;
    height: auto;
    background-color: #A6A053;
    padding: 1%;
    border-radius: 3%;
}

form {
    width: 75vw;
    display: inline-block;
}

.elementos-form {
    display: flex;
    width: 75vw;
    vertical-align: top;
    text-align: center;
    align-content: space-evenly;
}

select, input {
    margin: auto;
    padding: 10px 35px;
    background-color: #735C48;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #a8a8a8;
    transition: box-shadow 0.5s;
    outline: none;
    cursor: pointer;
}

.elemento-form {
    margin: auto;
    padding: 10px 35px;
}
.btn {
    margin: 50px calc(70px + 1%) 50px auto;
}


@media (max-width: 720px) {
    .elementos-form {
        display: inline-block;
    }

    .btn {
        margin: 50px auto;
    }
}