@import 'base.css';

.titulo-pagina {
    position: relative;
    top: 8%;
    padding:4px;
    margin: auto;
    width: 75%;
    height: 20vw;
    text-align: left;
    font-size: xx-large;
    font-weight: bolder;
}

.texto-central {
    position: relative;
    top: 50px;
    padding: 4px;
    margin: auto;
    width: 75%;
    height: 80vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.fondo-reglas {
    position: relative;
    top: 100px;
    left: 12.5vw;
    height: 2000px;
    width: 1320px;
    max-width: 80vw;
    max-height: 118vw;
    background: url("../imgs/papiro.png");
    background-position: top center;
    background-repeat:  no-repeat;
    background-size: 80vw;
    background-attachment: local;
}

@media (max-width: 760px) {
    .titulo-pagina {
        font-size: x-large;
    }
}

@media (max-width: 570px) {
    .titulo-pagina {
        font-size: large;
    }

    p {
        font-size: 1rem;
        font-weight: bolder;
    }
}

@media (max-width: 404px) {
    .titulo-pagina {
        font-size: medium;
    }
}