.contenedor-objetos{
    position: absolute;
    top: 0px;
    left: calc(50% - 628.473px / 2);
    width: 628.473px;
    height: 581.45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-selector{
    position: absolute;
    top: 0px;
    left: calc(50% - 628.473px / 2);
    width: 628.473px;
    height: 581.45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden;
}

.contenedor-imgs-1 {
    position: relative;
    left: 178px;
    width: 272.83px;
    height: 34.2px;
    display: flex;
    justify-content: space-between;
}

.contenedor-imgs-2 {
    position: relative;
    left: 118.6px;
    width: 391.43px;
    height: 34.2px;
    display: flex;
    justify-content: space-between;
}

.contenedor-imgs-3 {
    position: relative;
    left: 59.3px;
    width: 510.13px;
    height: 34.2px;
    display: flex;
    justify-content: space-between;
}

.contenedor-imgs-4 {
    position: relative;
    width: 100%;
    height: 34.2px;
    display: flex;
    justify-content: space-between;
}

.objetos {
    position: relative;
    height: 35.573px;
    width: 35.573px;
    border-radius: 100%;
    line-height: 275%;
    text-align: center;
}

.numero {
    position: relative;
    height: 35.573px;
    width: 35.573px;
    border-radius: 100%;
    line-height: 275%;
    text-align: center;
    background-color: blanchedalmond;
}

.cont-img-contenido {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    align-content: center;
    object-fit: contain;
}

.btn-select {
    position: relative;
    height: 35.573px;
    width: 35.573px;
    border-radius: 100%;
    line-height: 275%;
    text-align: center;
    background-color: rgba(179, 230, 181, 0.5);
}

.span-inicial {
    position: absolute;
    font-size: 1.5em;
    background-color: #A6A053;
    top: 0px;
    left: calc(50vw - 327px / 2);
    border-radius: 30%;
    padding: 40px;
}

.span-seleccionador {
    position: absolute;
    font-size: 1.5em;
    top: -40px;
    border-radius: 30%;
    padding: 40px;
}

.contenedor-costos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-width: 160px;
}

.detalles-acciones {
    border: 1px solid;
}

@media screen and (max-width: 930px) {
    .contenedor-objetos{
        left: -17.1px;
    }
    .contenedor-selector{
        left: -17.1px;
    }
}